In [29]:
from pandas import read_csv

data=read_csv('covid1.csv', encoding='cp949')
data

        날짜  누적환자수  누적격리해제  일별확진자수
0  04월 25일  10718    8635      10
1  04월 26일  10728    8717      10
2  04월 27일  10738    8764      10
3  04월 28일  10752    8854      14
4  04월 29일  10761    8922       9
5  04월 30일  10765    9059       4
6  05월 01일  10744    9072       4