<span style="color:blue; font-size:16px; font-weight:bold;">간단한 파이썬 테스트</span>

In [3]:
print (f"9 곱하기 3은 {9*3} 입니다")

9 곱하기 3은 27 입니다

In [4]:
# -*- coding: utf-8 -*-
print(4 + 5)
print(12 - 32)
print((4 + 5) * 6)
print(4 + 5 * 6)
print(9 / 5)        # 파이썬2.x 버전에서는 정수/정수 연산 결과는 정수
print(9 // 5)       # 정수로 나눌 때
print(9.0 / 5.0)
print(9 / 5.0)

9
-20
54
34
1.8
1
1.8
1.8

In [5]:
import keyword
for i in keyword.kwlist:
    print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [6]:
a = "123"
s=int(a)
print(type(a), type(s))

<class 'str'> <class 'int'>

In [7]:
a='123'
b='456'
print(int(a)+int(b))

579

In [9]:
num = int(input('Input Number:'))   # 문자열은 ' ' or " "
name = input('Input Name: ')

#print(num, name)
print(num, end=",")
print(name)

Input Number:123
Input Name: 김동현
123,김동현

<span style="color:blue; font-size:16px; font-weight:bold;">Slicing & Indexing</span>

In [11]:
a = "Hello Python"
print(a[6:] + ' ' + a[0:5])

b="Hello"
print(b[::-1])

Python Hello
olleH

In [12]:
print(type([]))      # 리스트
print(type(()))      # 튜플
print(type({}))      # 사전(dict)

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [13]:
L = [1,2,3]
print(type(L))
print()
print(len(L))
print()
print(L[1])
print(L[-1])
print(L[1:3])
print()
print(L + L)
print(L * 3)
print()
print(L)

<class 'list'>

3

2
3
[2, 3]

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3]

In [14]:
d={'one':[1,2,3], 'two':(1,2,3), 'three':'set'}
print(d['two'])
print(d['one'])
print(d['three'])

(1, 2, 3)
[1, 2, 3]
set

In [15]:
k=[1,2,3]
k[1]=10
print(k)

k=[8,9,10]
print(k)

[1, 10, 3]
[8, 9, 10]

In [16]:
p=range(10)    # range(k): 0 부터 (k-1)까지 range object를 반환

print(p)
print(list(p))
print(list(p)[::-1])
print(list(p)[::2])

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 2, 4, 6, 8]

In [17]:
t=(1,2,3)

print(t)
print(len(t))  # t의 길이
print(t[-1])   # 뒤에서 첫번째 값
print(t+t+t)
print(t*3)
print(4 in t)  # t안에 4이 있는지?

(1, 2, 3)
3
3
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
False

In [18]:
d = {'one': 'apple', 'two': 'orange', 'three': 'banana'}
print(d['one'])

apple

In [19]:
d = {'one': 'apple', 'two': 'orange', 'three': 'banana'}
d['four']='melon'
print(d)

d['one']='stawberry'
print(d)
print('two' in d)  # d에 two가 있는지?

print(d.keys())
print(d.values())
print(d.items())

{'one': 'apple', 'two': 'orange', 'three': 'banana', 'four': 'melon'}
{'one': 'stawberry', 'two': 'orange', 'three': 'banana', 'four': 'melon'}
True
dict_keys(['one', 'two', 'three', 'four'])
dict_values(['stawberry', 'orange', 'banana', 'melon'])
dict_items([('one', 'stawberry'), ('two', 'orange'), ('three', 'banana'), ('four', 'melon')])